* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
}

img {
    max-width: 100%;
}

header {
    background-color: slategray;
    color: whitesmoke;
}

main {

    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}

nav.main-nav {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav .logo {
    width: 260px;
}

.main-nav a  {
    display: inline-block;
    padding: 2.5rem;
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-decoration: none;
    margin: .5rem;
    border-radius: 1.5rem;
    text-decoration: underline;
    text-decoration-color: darkgrey;
    font-weight: 600;
    max-width: fit-content;
}

.main-nav a.current {
    background-color:dimgray;
}

.main-nav a.logo:hover {        
    background-color: lightsteelblue;
    border-radius: 3rem;
}

section.footer-one-half:hover img {        
    background-color: lightsteelblue;
    border-radius: 3rem;
    text-align: center;
}

.main-nav a:hover:not(.logo) {
    background-color: darkblue;
    color: lightgrey;                   
}

.hero-index {
    height: 75vh;
    background-image: url(/images/index-hero-image.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-about {
    height: 75vh;
    background-image: url(/images/about-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-experience {
    height: 75vh;
    background-image: url(/images/experience-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-amenities {
    height: 75vh;
    background-image: url(/images/amenities-hero-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-visit {
    height: 75vh;
    background-image: url(/images/visit-hero-image.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {          
    background-color: black;
    width:fit-content;
    height: fit-content;
    color: white;
    border-radius: 1rem;
    padding: 2.5rem;
    box-shadow: 0 3px 5px black;
    opacity: 65%;
    text-align: center;
}

h1 {
    font-size: xx-large;
}

hr {
    width: 100%;        
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.footer-content {
    width: 100vw;
    background-color: slategrey;
    color: white;
    display: flex;
}

.one-half {
    width: 45%;
}

.footer-content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

li.footer-nav-list {
    padding: 1px;
    list-style: none;
}

.footer-nav a.current {
    background-color:dimgray;
}



.footer-nav a:hover:not(.logo) {
    background-color: darkblue;
    color: lightgrey;                   
}

.footer-nav a  {
    display: inline-block;
    padding: 2.5rem;
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-decoration: none;
    margin: .5rem;
    border-radius: 1.5rem;
    text-decoration: underline;
    text-decoration-color: darkgrey;
    font-weight: 600;
}

nav.footer-nav {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

footer {
    background-color: slategray;
    color: whitesmoke;
}

.one-half {
    width: 48%;
}

.border {
    border: solid 4px black;  
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 5px;
}

form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.one-half p {
    margin-left: 15px;
    padding-top: 60px;
    max-width: 450px;
    align-items: right;
    font-size: 25px;
}

.one-third {
    width: 30%;
}

.content-1-one-third {
    max-width: 300px;
    justify-content: center;
}

.content-2-one-third {
    max-width: 300px;
}

.content-3-one-third {
    max-width: 300px;
}

.founder-image {
    border: solid 4px black;
    margin-top: 16px;
}

#contact_form {
    background-color: slategray;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 4px black;
}

.row label {
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

.content-1-one-half {
    max-width: 300px
}

input[type=text] {
    text-align: center;
    border-radius: 10px;
    margin: auto 0;
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 25px;
}

input[type=submit] {
    background-color: #ff7b25;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 53px
}

.blueprint-one-half {
    border: solid 4px black;
}

.content-01-one-half {
    flex-direction: column-reverse;
}

section.one-half-column {
    width: 48%;
    flex-direction: column;
}

.welcome-to-future {
    padding-top: 40px;
}